.btn-primary {
  background-color: #000;
  color: #fff;
  padding: 2.5vmin 10vmin;
  font-size: 3vmin;
  border: none;
  border-radius: 2vmin;
  -webkit-border-radius: 2vmin;
  -moz-border-radius: 2vmin;
  -ms-border-radius: 2vmin;
  -o-border-radius: 2vmin;
}
.btn-primary:hover {
  cursor: pointer;
}
